body {

    /* min-height: 200vh; */

}

/* Tabla*/
.table-container {
    width: 10%;
    height: 20px;
    overflow: auto;
  }
  .table-containered {
    width: 100%;
    height: 400px;
    overflow: auto;
  }
  
  .centered-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: max-content;
    table-layout: fixed;
  }
  
  .centered-table th,
  .centered-table td {
    padding: 20px;
    text-align: center;
  }
  
  .centered-table th {
    background-color: #5c646f;
    font-weight: bold;
  }
  
  .centered-table tr:nth-child(even) td {
    background-color: #fffffd;
  }
  
  .centered-table tr:hover td {
    background-color: #cbb783;
  }
  
  .centered-table tr:first-child th,
  .centered-table tr:first-child td {
    background-color: #79637e;
  }
  
  /*botones*/
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .submit-button:hover {
    background-color: #dadad1;
  }




  /* es lo mio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    background-blend-mode: luminosity;
    min-height: 100vh;
}

.form {
    background-color: #d6dbe4;
    width: 450px;
    height: 500px;
    /* background-color: transparent; */
    margin: auto;
    margin-top: 20px;
    box-shadow: 7px 9px 460px rgba(255, 255, 255, 0);
    padding: 60px 80px;
    border: 4px solid #0d4a7c;
    color: rgb(16, 14, 14);
}

.form h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
}

#numero,
#usuario,
#precio,
#ap,
#am,
#nombre,
#password {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #17438f;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.form p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;

}

.form a {
    /* color: rgb(0, 103, 193); */
    text-decoration: none;
    font-size: 14px;

}

.form a:hover {
    text-decoration: underline;

}

.registro {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border: 2px solid #ffeb34;
    width: 100%;
    height: 40px;
    background: #008017;
    /*border: none;*/
    color: rgb(251, 203, 60);
    margin-bottom: 16px;
}

/* texto con link  pasado a boton */

#bo {
    /* display: block; */
    width: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 70;
    background-color: rgb(251, 203, 60);
    border-radius: 10px;
    padding: 6px 3px;
    margin: 15px 2px;
    color: #394456;
    cursor: pointer;

    text-decoration: none;

}