<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/diseño.css">
</head>

<body>

    <div class="background-container"></div> <!-- Contenedor para el fondo desenfocado -->
    <h1>Contactanos</h1>
    <img src="/img/images/imagen.1.png" width="30%">
    <hr>

    <div class="container">

        <div class="container-1">

            <p class="title">Nombre <span> *</span></p>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">

            <p class="title">Password<span> *</span></p>
            <input type="password" name="password" id="password" placeholder="Ingrese un Password">

            <p class="title">Correo Electronico<span> *</span></p>
            <input type="email" name="email" id="email" placeholder="Ingrese su Email">

            <p class="title">Numero de telefono<span> *</span></p>
            <input type="email" name="NUMERO" id="NUMERO" placeholder="Ingrese su telefono">

        </div>

    </div>

    <input type="submit" value="Enviar">

    </form>

    <script src="js/script.js"></script>
</body>

</html>